/* This is augmented chord css  */
/* This is header section css */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
    margin:0px;
}
.nav {
    display: flex;
    width: 1500px;
    height:100px;
}
.header {
    display:flex;
    justify-content: space-around;
    font-size: 25px;
    height:60px;
    color:black;
    padding-top:20px;
    background-color: white;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.aug_chords{
    width:990px;
    font-size: 19px;
    margin-top:60px;
    margin-left:250px;
    font-family: 'Rubik';
}
.aug_lessons{
    width:800px;
    height:100px;
}

div .website_name{
    width:250px;
    font-weight: bold;
    font-family: 'Rubik';
    color: #f67600;
    cursor: pointer;
    margin-left:-50px;
}
.others {
    margin-left: 300px;
    display:flex;
    justify-content: space-around;
    width:450px;
    cursor: pointer;
    font-family: 'Rubik';
    padding-top:5px;
    font-size:20px;
}
.profile_img{
    width:36px;
    height:auto;
    margin-left:15px;
   margin-top:-8px;
}
 video {
    margin-top:380px;
    margin-left:150px;
    width:500px;
    height:auto;
}


#for_padd {
    padding-top: 20px;
    padding-left:20px;
} 
.navbar1 img {
    width: 50px;
    height: 50px;
    z-index:2;
    border-radius: 50%;
    margin-top: 20px;
    margin-left:-15px;
}
.pinkcolor {
    background-color:#f1306b ;
    width: 250px;
}
.bluecolor {
    background-color:#09006d;
    width: 250px;
    /* margin-top: 100px; */
}
.green {
    background-color: #48d38c;
    width: 250px;
}
.sky {
    background-color: #10a8db;
    width: 250px;
}
.light {
    background-color: #fef559;
    /* height: 980px; */
    width: 250px;
}
#callin {
    color: #09006d;
}
.violet {
    background-color:#9445fd ;
    text-align: center;
    width: 250px;
}
.navbar1 a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    padding-left: 25px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
