/* This is the first exercise to practise scales in website and this is also the header section  */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    margin: 0px;
    background-color: #eae9e9;
    font-family: 'Rubik';
}

.nav {
    display: flex;
    width: 1487px;
    height: 100px;
}
.header {
    display:flex;
    justify-content: space-around;
    font-size: 25px;
    height:60px;
    color:black;
    padding-top:20px;
    background-color: white;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
div .website_name{
    width:250px;
    font-weight: bold;
    font-family: 'Rubik';
    color: #f67600;
    cursor: pointer;
    margin-left:-10px;
}
.others {
    margin-left: 300px;
    display:flex;
    justify-content: space-between;
    width:550px;
    cursor: pointer;
    font-family: 'Rubik';
    padding-top:5px;
    font-size:20px;
}

.profile_img{
    width:36px;
    height:auto;
    margin-left:15px;
   margin-top:-8px;
}
#for_padd {
    padding-top: 20px;
    padding-left:20px;
} 
.navbar1 img {
    width: 50px;
    height: 50px;
    z-index:2;
    border-radius: 50%;
    margin-top: 20px;
    margin-left:-15px;
}
.pinkcolor {
    background-color: #f1306b;
    width: 250px;

}
.instructions {
    background-color: white;
    width: 500px;
    height: auto;
    
    /* border: 1px solid black; */
    padding: 50px 0px 50px 110px;
    position:absolute;
    top:35%;
    left:30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:5px;
}
.instructions h2 {
    margin-left:110px;
}
main h2 {
    margin-left:680px;
    font-size:26px;
}
.instructions button {
    font-size:15px;
    background-color:green;
    border:1px solid black;
    margin-left:150px;
    padding:5px 10px 5px 10px;
} 
.bluecolor {
    background-color: #09006d;
    width: 250px;
    /* margin-top: 100px; */
}

.green {
    background-color: #48d38c;
    width: 250px;
}

.sky {
    background-color: #10a8db;
    width: 250px;
}

.light {
    background-color: #fef559;
    /* height: 980px; */
    width: 250px;
}

#callin {
    color: #09006d;
}

.violet {
    background-color: #9445fd;
    text-align: center;
    width: 250px;
}

.navbar1 a {
    margin-left: 25px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    padding-left: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* .main_div .hide {
    display:none;
} */
.maindiv .hide {
    display:none;
}
.seventh_test .hide {
    display:none;
}
.diminished .hide {
    display:none;   
}
.threenotes .hide{
    display:none;   
}
.main_div h3{
    font-size:25px;
}
.main_div {
    text-align: center;
    /* border: 5px solid red; */
    width: 500px;
    /* overflow-x: hidden; */
    height: 450px;
    margin-left: 500px;
    margin-top: 50px;
}
.block {
    display:block;
}
/* main h2 {
    font-size: 40px;
    
    margin-left: 650px;
   
     margin-left: 550px; 
}*/

img#chord_img{
    width:500px;
    height:auto;
}
#mcq {
    width:500px;
    /* margin-left:25px;  */
    font-size: 25px;  
}
#mcq button {
    font-size:20px;
}
.pointer{
    cursor:pointer;
}
.diminished {
    margin-left:550px;
}
/* .earlesson {
    font-family: Arial, Helvetica, sans-serif;
    margin-left:550px;
    font-size: 25px;  
} */
.quest button {
    font-size: 22px;
}
.chartjs-render-monitor {
    animation: chartjs-render-animation 0.001s;
    position: absolute;
    top: 27%;
    left: 30%;
}
/* button.special,.special1 {
    background-color: #F0F0F0;
    border:0.5px solid black;
} */

/* #special1:checked {
    background: red;
}

#special:checked {
    background: green;
} */

.listening {
    margin-left: 450px;
}
.listening h1 {
    margin-left:-90px;
   
}

.relative-seventh {
    margin-top: 60px;
    margin-left: 520px;
}

.relative-seventh button {
    font-size: 20px;
}

.metronome2 button {
    font-size: 25px;
}

.metronome2 h2 {
    font-size: 35px;
    /* margin-right:350px; */
    width:350px;
    /* border: 1px solid black; */
}

/* .threenotes {
    margin-left: 600px;
    margin-top: 30px;
} */

.threenotes1 button {
    font-size: 18px;
}

.metronome1 audio {
     
    position: absolute;
    top: 168px;
    left: 180px;
}

#watch {
    width: 140px;

    background-color: #f1f3f4;
}

.metronome1 img {
    width: 350px;

}

.metronome2 {
    margin-top: 100px;
}

.metronome {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    background-color: white;
    position: relative;
    margin-left: 250px;
    border-radius: 15px;
    margin-bottom: 40px;
}
.listening{
    width:500px;
}
.maindiv{
    margin-left:500px;
}
.heading h2 {
    margin-left: 500px;
}
.listening h1 {
  
    /* text-shadow: 2px 2px #eae9e9;
    width: 1000px;
    position: relative;
    
    border-radius: 15px; */
    color: black;
    margin-left: 10px;
}

.metronom {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    background-color: white;
    position: relative;
    margin-left: 250px;
    border-radius: 15px;
    margin-top: 50px;
}

.metrono {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    background-color: white;
    position: relative;
    margin-left: 250px;
    border-radius: 15px;
    margin-top: 50px;
}

.metron {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    background-color: white;
    position: relative;
    margin-left: 250px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.earlesson h2 {
    font-size: 45px;
}

.dim {
    display:flex;
    box-shadow: 1px solid black;
 }
 .dim1 h2 {
     
     margin-top:50px;
     font-family:Arial, Helvetica, sans-serif;
 }
 .dimnat{
     display: flex;
     
 }
 .dim-img {
     position:relative;
 }
 h3 {
    
     
    
   
    
     font-size:20px;
     /* background: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25));
     background-clip: text;
     -webkit-background-clip: text;
     /* -webkit-text-fill-color: transparent; */
     backdrop-filter: blur(10px); */
 }
 .dim-img img {
     position:fixed;
     width:740px;
     height:900px;
     
     
 }
 
 .di {
     margin-top:100px;
 }
 .dim2 {
    margin-top:28px;
    margin-left:20px;
}


@media only screen and (max-width:900px){
    header {
        width:400px;
    }
    main{
        width:400px;
    }
    .nav {
        width:400px;
        height:100px;
      }
      .navbar1 div {
          height: 100px;
          padding-top: 25px;
      }
      .none {
          display: none;
      }
      .pinkcolor {
          display: flex;
          flex-direction: column;
          width:400px;
          height: 100px; 
      }
      .pinkcolor a{
         margin-left: 100px;
      }
      .metronome1 img {
         width:180px;
        border-radius:10px;
      }
    .metronome {
        margin-left:140px;
        width:260px;
    }
    .metronom{
        margin-left:140px;
        width:260px;
    }
   .metrono{
       margin-left:140px;
       width:260px;
   }
   .metron {
    margin-left:140px;
    width:260px;
   }
   .metronome2 h2 {
     font-size: 20px;
     width:200px;
     margin-right:45px;
     margin-top:0px;

   }
   .metronome2 button {
    font-size: 15px;
}
h1 {
    text-align: center;
    margin-left: 0px;
    width:400px;
}
.metronome2 {
    width:240px;
    margin-right:165px;
    margin-bottom:20px;
   
}
#watch {
    width:90px;
    
}
.metronome1 audio {
    top:75px;
   left:-100px;
}
}