.header {
    display:flex;
    justify-content: space-around;
    font-size: 25px;
    height:60px;
    color:black;
    padding-top:20px;
    background-color: white;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

div .website_name{
    width:250px;
    font-weight: bold;
    font-family: 'Rubik';
    color: #f67600;
    cursor: pointer;
    margin-left:-50px;
}
.others {
    margin-left: 300px;
    display:flex;
    justify-content: space-around;
    width:450px;
    cursor: pointer;
    font-family: 'Rubik';
    padding-top:5px;
    font-size:20px;
}

.profile_img{
    width:36px;
    height:auto;
    margin-left:15px;
   margin-top:-8px;
}