@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    margin:0px;
    font-family: 'Rubik';
}
div .website_name{
    width:250px;
    font-weight: bold;
    font-family: 'Rubik';
    color: #f67600;
    cursor: pointer;
    margin-left:-10px;
}
.others {
    margin-left: 300px;
    display:flex;
    justify-content: space-between;
    width:550px;
    cursor: pointer;
    font-family: 'Rubik';
    padding-top:5px;
    font-size:20px;
}

.profile_img{
    width:60px;
    height:60px;
    margin-left:15px;
   margin-top:-10px;
}