@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    margin:0px;
    font-family: 'Rubik';
}
div .website_name{
    width:250px;
    font-weight: bold;
    font-family: 'Rubik';
    color: #f67600;
    cursor: pointer;
    margin-left:-10px;
}
.header {
    display:flex;
    justify-content: space-around;
    font-size: 25px;
    height:60px;
    color:black;
    padding-top:20px;
    background-color: white;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.others {
    margin-left: 300px;
    display:flex;
    justify-content: space-between;
    width:550px;
    cursor: pointer;
    font-family: 'Rubik';
    padding-top:5px;
    font-size:20px;
}

.profile_img{
    width:36px;
    height:auto;
    margin-left:15px;
   margin-top:-8px;
}
.training {
    display:flex;
    width: 500px;
    margin-top: 50px;
    border-radius:10px;
    align-items: center;
    margin-left: 500px;
    cursor:pointer;
    background-color:white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.training_img img {
    width:60px;
    height:50px;
    margin-left:20px;
}
.training_para {
    margin-left:20px;
}