/* THis is the css for scales lesson page */
body {
    margin:0px;
}
.nav {
    display: flex;
    width: 1485px;
    height:100px;
}
#for_padd {
    padding-top: 20px;
    padding-left:20px;
} 
.navbar1 img {
    width: 50px;
    height: 50px;
    z-index:2;
    border-radius: 50%;
    margin-top: 20px;
    margin-left:-15px;
}
.pinkcolor {
    background-color:#f1306b ;
    width: 250px;
}
.bluecolor {
    background-color:#09006d;
    width: 250px;
    /* margin-top: 100px; */
}
.green {
    background-color:#48d38c ;
    width: 250px;
}
.sky {
    background-color:#10a8db ;
    width: 250px;
}
.light {
    background-color:#fef559 ;
    /* height: 980px; */
    width: 250px;
}
#callin {
    color: #09006d;
}
.violet {
    background-color: #9445fd;
    text-align: center;
    width: 250px;
}
.navbar1 a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    padding-left: 25px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.scales1  {
    margin-top:70px;
}
.scales {
    padding: 50px;
    /* width: 1000px; */
    display:flex;
    /* justify-content: space-between; */
    margin-left: 200px;
}
.scales video {
    width:600px;
    height:500px;
    border-radius:10px;
}
#photo1 {
    width:550px;
    height:auto;
}
.photo2 {
    display:flex;
    width:500px;
    height:400px;
}
.pentatonic2 img {
    width:450px;
    height:350px;
    /* padding-right:100px; */
}
.pentatonic3 {
   margin-left:100px;
}
.go-to {
   display:flex;
   justify-content: center;
   padding-bottom: 100px;
}
.go-to button {
    padding:20px;
    font-size: 20px;
    background-color: green;
}
@media only screen and (max-width:900px) {
    header {
        width:400px;
    }
    main {
        width:400px;
    }
    .nav {
        width:400px;
        height:100px;
      }
      .navbar1 div {
          height: 100px;
          padding-top: 25px;
      }
      .none {
          display: none;
      }
      .pinkcolor {
          display: flex;
          flex-direction: column;
          width:400px;
          height: 100px; 
      }
      .pinkcolor a{
         margin-left: 100px;
      }
      .scales {
        display:block;
        width:390px;
        margin-left:10px;
        padding:0px;
      }
    .scales1 {
        width:380px;
        margin-left:0px;
    }
    .scales img{
        width:380px;
    }
    .scales video {
        width:360px;
        height:auto;
        border-radius:10px;
    }
    button {
        margin-left:40px;
    }
    .pentatonic3 {
        margin-left:10px;
     }
     #photo1 {
        width:360px;
        height:auto;
    }
    .photo2{
        display:block;
        padding-bottom:500px;
    }
    h3 {
        width:390px;
    }
    .photo2 {
       width:380px;
    }
}


