body {
    margin:0px;
}
.nav {
    display: flex;
    width: 1500px;
    height:100px;
}
.header {
    display:flex;
    justify-content: space-around;
    font-size: 25px;
    height:60px;
    color:black;
    padding-top:20px;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.website_name{
    width:250px;
    padding-right:350px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: #f67600;
}
.others {
    margin-left: 50px;
    display:flex;
    justify-content: space-around;
    width:450px;
}

.profile_img{
    width:60px;
    height:60px;
    margin-left:15px;
   margin-top:-10px;
}
.pinkcolor {
    background-color: rgb(240, 9, 132);
    width: 250px;
}
.bluecolor {
    background-color:#cdcdcd;
    width: 250px;
    /* margin-top: 100px; */
}
.green {
    background-color: rgb(152, 211, 65);
    width: 250px;
}
.sky {
    background-color: rgb(84, 183, 222);
    width: 250px;
}
.light {
    background-color: rgb(220, 220, 30);
    /* height: 980px; */
    width: 250px;
}
.violet {
    background-color: blueviolet;
    text-align: center;
    width: 250px;
}
.navbar1 a {
    text-decoration: none;
    font-size: 40px;
    color: white;
    padding-left: 25px;
    font-weight: bold;
}
.choice {
    display:flex;
    font-size: 20px;
}
.listening {
    margin-left: 450px;
}
