/* This is the css for inversions page */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    margin:0px;
    font-family: 'Rubik';
}
.nav {
    display: flex;
    width: 1480px;
    height:100px;
}
.header {
    display:flex;
    justify-content: space-around;
    font-size: 25px;
    height:60px;
    color:black;
    padding-top:20px;
    background-color: white;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

div .website_name{
    width:250px;
    font-weight: bold;
    font-family: 'Rubik';
    color: #f67600;
    cursor: pointer;
    margin-left:-10px;
}
.others {
    margin-left: 300px;
    display:flex;
    justify-content: space-between;
    width:550px;
    cursor: pointer;
    font-family: 'Rubik';
    padding-top:5px;
    font-size:20px;
}

.profile_img{
    width:36px;
    height:auto;
    margin-left:15px;
   margin-top:-8px;
}
#for_padd {
    padding-top: 20px;
    padding-left:20px;
} 
.navbar1 img {
    width: 50px;
    height: 50px;
    z-index:2;
    border-radius: 50%;
    margin-top: 20px;
    margin-left:-15px;
}
.pinkcolor {
    background-color:#f1306b ;
    width: 250px;
}
.bluecolor {
    background-color:#09006d;
    width: 250px;
    /* margin-top: 100px; */
}
.green {
    background-color: #48d38c;
    width: 250px;
}
.sky {
    background-color:#10a8db ;
    width: 250px;
}
.light {
    background-color:#fef559 ;
    /* height: 980px; */
    width: 250px;
}
#callin {
    color: #09006d;
}
.violet {
    background-color:#9445fd ;
    text-align: center;
    width: 250px;
}
.navbar1 a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    padding-left: 25px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.inverse {
    margin-top:100px;
    display:flex ;
}
.inverse2 video {
    width:500px;
    height:auto;
}
button {
    margin-left:600px;
    background-color: green;
    font-weight:bold;
    padding:15px;
    font-size:18px;
}
.inversion{
    width: 990px;
    font-size: 19px;
    margin-top: 60px;
    margin-left: 250px;
}
@media only screen and (max-width:900px) {
    header {
        width:400px;
    }
    main {
        width:400px;
        padding-bottom:30px;
    }
    .nav {
        width:400px;
        height:100px;
      }
      .navbar1 div {
          height: 100px;
          padding-top: 25px;
    }
      .none {
          display: none;
    }
      .pinkcolor {
          display: flex;
          flex-direction: column;
          width:400px;
          height: 100px; 
    }
      .pinkcolor a{
        margin-left: 100px;
    }
    .inverse {
        display: block;
    }
    .inverse2 video {
        padding-top:30px;
        width:380px;
        margin-left:10px;
    }
    button {
        margin-left:150px;
        margin-top: 20px;
    }
}
