/* This is the css for login page to sign up */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Rubik&display=swap');
body {
    margin:0px;
    background-color:#f2f5ff ;
    font-family: 'Rubik';
}
.header {
    display:flex;
    justify-content: space-around;
    font-size: 25px;
    height:60px;
    color:black;
    padding-top:20px;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.website_name{
    width:250px;
    padding-right:350px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: #f67600;
}
.others {
    margin-left: 50px;
    display:flex;
    justify-content: space-around;
    width:450px;
}

.profile_img{
    width:60px;
    height:60px;
    margin-left:15px;
   margin-top:-10px;
}
.form1 {
   
    display: block;
    /* /* justify-content:center;  */
    /* font-weight: bold; */
    /* margin-left: 500px; */
    border-radius: 10px;
  
    /* width: 800px;
    height: 500px;
    padding: 50px; */
    color: black;
    background-color: white;
    /* margin-top: 80px; */
    /* box-shadow: 2px 2px 20px rgb(212, 210, 210); */
}
.form1{
    
    height:700px;
    width: 300px;
    margin: 20px auto;
}



.form1 input{
    /* width: 100%; */
    border-radius:5px;
    padding-left:15px;
    height:30px;
    border:0px solid #9c9d9f;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} 
.form {
    background-color: white;
    display:flex;
    justify-content: space-evenly;
     width: 1200px;
    height: 750px;
    border-radius: 10px; 
    box-shadow: 2px 2px 20px #f6f8fa;
    border: none;
    border: 0px solid black;
    margin-left: 200px;
    margin-top:50px;
    font-size:18px;
    font-family: 'Rubik', sans-serif;
}
.login-img{
     position:relative;
}
.login-img img {
   
    margin-right: 60px;
    margin-top: 60px;
    width:600px;
    height:550px;
    border-radius:10px;
}
#imgin{
    font-size:35px;
    width:499px;
    height:120px;
    padding:50px;
    position:absolute;
    top: 200px;
    color:white;
    border:2px solid white;
    background: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25));
    background-clip: text;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    backdrop-filter: blur(10px);

} 
/* #imgin.background {
   filter:blur(100px);
} */

a{
    /* width:30px; */
   color:black;
   background-color:white;
   padding:10px;
   padding-left:40px;
   padding-right:40px;
   border-radius: 10px;
   text-decoration: none;
   border:1px solid grey;
}
#sub{
    margin:20px 20px 0px 55px ;
   
   
}
#blur {
    color:#c7c8ca;
}
@media only screen and (max-width:700px){
main {
    width:400px;
}
.login-img img {
    width:500px;
    height:1050px;
    margin-right:150px;
} 
.form {
    margin-top:150px;
    margin-left: 0px;
    height:1200px;
}
.form1 {
    font-size:35px;
}
.a  {
   margin-left:0px;
}
#imgin {
    top:300px;
    height:350px;
    font-size:60px;
    width:399px;
}
}