body {
    margin:0px;
}
.nav {
    display: flex;
    width: 1500px;
    height:100px;
}
.pinkcolor {
    background-color: rgb(240, 9, 132);
    width: 250px;
}
.bluecolor {
    background-color:#dbdbdb;
    width: 250px;
    /* margin-top: 100px; */
   
}
.green {
    background-color: rgb(152, 211, 65);
    width: 250px;
}
.sky {
    background-color: rgb(84, 183, 222);
    width: 250px;
}

.light {
    background-color: rgb(220, 220, 30);
    /* height: 980px; */
    width: 250px;
}

.violet {
    background-color: blueviolet;
    text-align: center;
    width: 250px;
    /* height:600px; */
}
.navbar1 a {
    text-decoration: none;
    font-size: 40px;
    color: white;
    padding-left: 25px;
    font-weight: bold;
}
.background-img {
    background-image: url(../../image/unsplash_3k9PGKWt7ik-2.png);
    opacity:0.8;
    padding-top:190px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
}
forms {
    /* position:absolute; */
    display: block;
   
    font-weight:bold;
    margin-left: 500px;
    border-radius:10px;
    border: none;
    border: 1px solid black;
    width: 200px;
    padding: 120px;
    padding-top: 0px;
    color: black;
    background:transparent;
    height: 400px;
    /* margin-top: 80px; */
    box-shadow: 2px 2px 20px black;
}
forms button {
    background-image:linear-gradient() ;
    font-weight:bold;
    padding:10px;
    margin-left: 50px;
    margin-top: 30px;
}
forms h1 {
    margin-left: 30px;
}
.mid img {
   width:1000px;
    height:auto;
}
.mid {
    position:relative;
} 